@font-face {
    font-family: 'Vazir';
    src: url("../Content/fonts/Vazir.eot");
    src: url("../Content/fonts/Vazir.eot?#iefix") format("embedded-opentype"),
        url("../Content/fonts/Vazir.woff") format("woff"),
        url("../Content/fonts/Vazir.ttf") format("truetype"),
        url("../Content/fonts/Vazir.svg#web_Yekan") format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

* {
    font-family: Vazir;
}