<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="/Content/theme/css/bootstrap.css">
    <link rel="stylesheet" href="/Content/theme/css/style15.css">
    <link rel="stylesheet" href="/Content/theme/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/theme/css/swiper.min.css">
    <link href="~/Content/theme/css/osSlider.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

</head>
<body class="k-rtl">
    <div class="main">
        <div class="header">
            <div class="top-header">
                <div class="container">
                    <ul class="top-menu col-lg-2 col-md-2 col-sm-4 col-xs-6">
                        <li><a href="/Pages/ContactUs">تماس با ما</a></li>
                        @*<li class="hidden-xs"><a href="#">مشترک شوید</a></li>*@
                        @*<li><a href="#">علاقه مندی ها<span class="fcount">0</span></a></li>*@
                    </ul>

                    <ul class="site-search col-lg-1 col-md-1 col-sm-1 col-xs-2">
                        <li>
                            <a class="search-btn"><i class="icon-search"></i></a>
                            <div class="search-hide-wrapp"></div>
                        </li>
                    </ul>

                    <ul class="lang col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <li><i class="icon-globe"></i></li>
                        <li><a href="#">Fa</a></li>
                        <li><a href="#">Ar</a></li>
                    </ul>

                    <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> -->
                    <!-- <span class="icon-bar"></span> -->
                    <!-- <span class="icon-bar"></span> -->
                    <!-- <span class="icon-bar"></span>  -->
                    <!-- </button> -->
                </div>
            </div>
            <div class="main-header">
                <div class="border">
                    <div class="container">
                        <nav class="navbar navbar-mycustom">
                            <div class="container-fluid">
                                <div class="navbar-header col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="/"><img class="img-responsive" src="/Content/theme/img/logo@2x.png" alt="p2 cosmetics Logo"></a>
                                </div>
                                <div class="collapse navbar-collapse col-lg-9 col-md-9 col-sm-9 col-xs-12" id="myNavbar">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/">صفحه اصلی</a></li>
                                        <li><a href="/Product">محصولات</a></li>
                                        <li><a href="/Pages/AboutUs">درباره برند</a></li>
                                        <li><a href="#">ویژه ها</a></li>
                                        <li><a href="#">نمایندگی</a></li>
                                        
                                        <!-- <li class="active"><a href="#">تازه ها</a></li> -->
                                    </ul>
                                    <!-- <ul class="nav navbar-nav navbar-right"> -->
                                    <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
                                    <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
                                    <!-- </ul> -->
                                </div>
                            </div>
                        </nav>

                    </div>

                </div>

            </div>
            <div class="bottom-header">
            </div>
        </div>

        <div class="p2-Container">
            @RenderBody()
        </div>

        <div class="footer">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-sm hidden-xs main-footer">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 center-block" style="float:none;">
                    <ul class="col-lg-2 col-md-2 col-sm-2 col-xs-0 fmenu">
                        <li class="fmenu-title"><a href="#">تازه ها</a></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <ul class="col-lg-2 col-md-2 col-sm-2 col-xs-0 fmenu">
                        <li class="fmenu-title"><a href="#">محصولات</a></li>
                        <li><a href="#">چشم ها</a></li>
                        <li><a href="#">لب ها</a></li>
                        <li><a href="#">صورت</a></li>
                        <li><a href="#">مراقبت ناخن</a></li>
                        <li><a href="#">زیبایی</a></li>
                    </ul>
                    @*<ul class="col-lg-2 col-md-2 col-sm-2 col-xs-0 fmenu">
                        <li class="fmenu-title"><a href="#">تعداد محدود</a></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>*@
                    <ul class="col-lg-2 col-md-2 col-sm-2 col-xs-0 fmenu">
                        <li class="fmenu-title"><a href="#">ویژه ها</a></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <ul class="col-lg-4 col-md-4 col-sm-4 col-xs-0 fmenu">
                        <li class="fmenu-title"><a href="@Url.Action("ContactUs","Pages")">تماس با ما</a></li>
                        <li>آدرس: تهران- خیابان پاسداران- بوستان هفتم- ساختمان Lorinzer – پلاک 156- طبقه اول- زنگ 103</li>
                        <li>تلفن: 522549664</li>
                    </ul>
                    <ul class="col-lg-2 col-md-2 col-sm-2 col-xs-0 footer-menu-licence">
                        <li>
                            <a href="http://de.wessling-group.com/en/" target="_blank" class="qualityLogo">
                                <img src="/Content/theme/img/wessling_en.png" alt="WESSLING - kontrollierte Qualität und Sicherheit">
                            </a>
                        </li>
                        <li><a href="/"><img class="img-responsive" src="/Content/theme/img/logo@2x.png" alt="p2 cosmetics Logo"></a></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-footer">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 center-block" style="float:none;">
                    <ul class="col-lg-2 col-md-2 col-sm-12 col-xs-12 site-copyright">
                        <li>
                            ©
                            نام سایت
                            2017
                        </li>
                    </ul>
                    <ul class="col-lg-3 col-md-3 col-sm-12 col-xs-12 footer-menu">
                        <li>
                            <a href="#">
                                امضا
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                امنیت اطلاعات
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                تماس
                            </a>
                        </li>
                    </ul>
                    <ul class="col-lg-3 col-md-4 col-sm-12 col-xs-12 so-menu">
                        <li>
                            <a href="#">
                                <i class="icon-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-location-arrow"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="/Content/theme/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Content/theme/js/swiper.min.js" type="text/javascript"></script>
    <script src="~/Content/theme/js/osSlider.js"></script>
</body>
</html>