<!DOCTYPE html>
<html>
<head>
    <title>صفحه اصلی</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Content/css/bootstrap.css">
    <link rel="stylesheet" href="/Content/css/style3.css">
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/css/swiper.min.css">
    <script src="/Content/js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $( document ).ready(function() {

            var swiper1 = new Swiper('.s1', {
                slidesPerView: 'auto',
                spaceBetween: 30,
                loop: true,
                effect: 'fade',
                autoplay: {
                    delay: 4000,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '.main-swiper-pagination',
                    clickable: true,
                },
            });






            //<!-- var swiper2 = new Swiper('.s2', { -->
            //      <!-- slidesPerView: 5, -->
            //      <!-- centeredSlides: true, -->
            //      <!-- spaceBetween: 50, -->
            //      <!-- loop: true, -->

            //      <!-- pagination: { -->
            //        <!-- el: '.swiper-pagination', -->
            //        <!-- clickable: true, -->
            //      <!-- }, -->
            //            <!-- navigation: { -->
            //        <!-- nextEl: '.swiper-button-next', -->
            //        <!-- prevEl: '.swiper-button-prev', -->
            //      <!-- }, -->

            //            <!-- breakpoints: { -->
            //                <!-- 1024: { -->
            //                    <!-- slidesPerView: 5, -->
            //                    <!-- spaceBetween: 50 -->
            //                <!-- }, -->
            //                <!-- 768: { -->
            //                    <!-- slidesPerView: 4, -->
            //                    <!-- spaceBetween: 10 -->
            //                <!-- }, -->
            //                <!-- 640: { -->
            //                    <!-- slidesPerView: 2, -->
            //                    <!-- spaceBetween: 10 -->
            //                <!-- }, -->
            //                <!-- 320: { -->
            //                    <!-- slidesPerView: 1, -->
            //                    <!-- spaceBetween: 10 -->
            //                <!-- } -->
            //            <!-- }, -->


            //    <!-- });	 -->









        var swiper = new Swiper('.swiper-container3', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 5,
            spaceBetween: 25,
          <!-- fix hide slides -->
            loopAdditionalSlides: 20,
            loop: true,
            coverflowEffect: {
                rotate: 25,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows : true,
            },
            pagination: {
                el: '.swiper-pagination',
            },

            breakpoints: {
                1024: {
                    slidesPerView: 5,
                    spaceBetween: 50
                },
                768: {
                    slidesPerView: 3,
                    spaceBetween: 10
                },
                640: {
                    slidesPerView: 2,
                    spaceBetween: 10
                },
                320: {
                    slidesPerView: 1,
                    spaceBetween: 10
                }
            },

        });





            <!-- $(window).resize(function(){ -->
              <!-- var ww = $(window).width() -->
              <!-- if (ww>1000) LoadSwiper2(4); -->
              <!-- if (ww>468 && ww<=1000) LoadSwiper2(2); -->
              <!-- if (ww<=468) LoadSwiper2(2); -->
            <!-- }) -->
            <!-- $(window).trigger('resize') -->



            });



        <!-- function LoadSwiper2( sCount ){ -->

        <!-- var swiper2 = new Swiper('.s2', { -->
              <!-- slidesPerView: sCount, -->
              <!-- centeredSlides: true, -->
              <!-- spaceBetween: 30, -->
              <!-- loop: true, -->

              <!-- pagination: { -->
                <!-- el: '.swiper-pagination', -->
                <!-- clickable: true, -->
              <!-- }, -->
                    <!-- navigation: { -->
                <!-- nextEl: '.swiper-button-next', -->
                <!-- prevEl: '.swiper-button-prev', -->
              <!-- }, -->


            <!-- });	 -->

        <!-- } -->







    </script>
</head>
<body>
    <div class="main">
        <div class="header">


            <div class="top-header">

                <div class="container">
                    <ul class="col-lg-3 col-md-4 col-sm-5 col-xs-12 top-menu">
                        <li>
                            <a href="#">تماس</a>
                        </li>
                        <li>
                            <a href="#">مشترک شوید</a>
                        </li>
                        <li>
                            <a href="#">
                                علاقه مندی ها
                                <span class="fcount"></span>
                            </a>
                        </li>
                    </ul>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 site-search">
                        <a class="search-btn">
                            <i class="icon-search"></i>
                        </a>
                        <div class="search-hide-wrapp">
                        </div>
                    </div>

                    <ul class="col-lg-2 col-md-2 col-sm-2 col-xs-6 lang">
                        <li>
                            <i class="icon-globe"></i>
                        </li>
                        <li>
                            <a href="#">Fa</a>
                        </li>
                        <li>
                            <a href="#">Ar</a>
                        </li>
                    </ul>
                </div>

            </div>




            <div class="main-header">

                <div class="border">
                    <div class="container">
                        <nav class="navbar navbar-mycustom">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#"><img class="img-responsive" src="/Content/img/logo@2x.png" alt="p2 cosmetics Logo"></a>
                                </div>
                                <div class="collapse navbar-collapse" id="myNavbar">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="#">تازه ها</a></li>
                                        <li><a href="#">محصولات</a></li>
                                        <li><a href="#">تعداد محدود</a></li>
                                        <li><a href="#">ویژه ها</a></li>
                                        <li><a href="#">درباره ما</a></li>
                                    </ul>
                                    <!-- <ul class="nav navbar-nav navbar-right"> -->
                                    <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
                                    <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
                                    <!-- </ul> -->
                                </div>
                            </div>
                        </nav>

                    </div>

                </div>

            </div>
            <div class="bottom-header">
            </div>
        </div>




        <div class="p2-Container">
            @RenderBody()

            <div class="wrapp-slider">
                <div class="swiper-container s1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <img class="img-responsive" src="/Content/img/Header_Startseite_EN.jpg" alt="p2 cosmetics Logo">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img class="img-responsive" src="/Content/img/LE_Bloggers_Header_170814.png" alt="p2 cosmetics Logo">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>


            <div class="container">






                <div class="row big-title text-center">
                    <h2>انواع محصولات ما</h2>
                </div>

                <div class="wrapp-our-pr ">

                    <div class="swiper-container3">
                        <div class="swiper-wrapper">
                            <a href="product.html" class="swiper-slide">
                                <img src="/Content/img/sample1.jpg" alt="HERO LASH MASCARA" class="img-responsive">
                                <span>صورت</span>
                            </a>
                            <a href="product.html" class="swiper-slide">
                                <img src="/Content/img/sample2.jpg" alt="HERO LASH MASCARA" class="img-responsive">
                                <span>صورت</span>
                            </a>
                            <a href="product.html" class="swiper-slide">
                                <img src="/Content/img/sample3.jpg" alt="HERO LASH MASCARA" class="img-responsive">
                                <span>صورت</span>
                            </a>
                            <a href="product.html" class="swiper-slide">
                                <img src="/Content/img/sample1.jpg" alt="HERO LASH MASCARA" class="img-responsive">
                                <span>صورت</span>
                            </a>
                            <a href="product.html" class="swiper-slide">
                                <img src="/Content/img/sample2.jpg" alt="HERO LASH MASCARA" class="img-responsive">
                                <span>صورت</span>
                            </a>
                            <a href="product.html" class="swiper-slide">
                                <img src="/Content/img/sample3.jpg" alt="HERO LASH MASCARA" class="img-responsive">
                                <span>صورت</span>
                            </a>
                            <a href="product.html" class="swiper-slide">
                                <img src="/Content/img/sample1.jpg" alt="HERO LASH MASCARA" class="img-responsive">
                                <span>صورت</span>
                            </a>
                            <a href="product.html" class="swiper-slide">
                                <img src="/Content/img/sample2.jpg" alt="HERO LASH MASCARA" class="img-responsive">
                                <span>صورت</span>
                            </a>
                            <a href="product.html" class="swiper-slide">
                                <img src="/Content/img/sample3.jpg" alt="HERO LASH MASCARA" class="img-responsive">
                                <span>صورت</span>
                            </a>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination hide"></div>

                    </div>


                    <!-- Add Arrows -->
                    <!-- <div class="swiper-button-next"></div> -->
                    <!-- <div class="swiper-button-prev"></div> -->



                </div>


                <div class="clearfix"></div>


                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 center-block wrapp-product-group" style="float:none;">

                    <div class="row big-title text-center">
                        <h2>محصولاتی برای شما</h2>
                    </div>


                    <a href="Groups.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-6 pr-cate">
                        <div class="frame">
                            <img class="img-responsive" src="/Content/img/cat-pic.jpg" alt="صورت">
                        </div>
                        <span>صورت</span>
                    </a>
                    <a href="Groups.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-6 pr-cate">
                        <div class="frame">
                            <img class="img-responsive" src="/Content/img/cat-pic.jpg" alt="لب ها">
                        </div>
                        <span>لب ها</span>
                    </a>
                    <a href="Groups.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-6 pr-cate">
                        <div class="frame">
                            <img class="img-responsive" src="/Content/img/cat-pic.jpg" alt="چشم ها">
                        </div>
                        <span>چشم ها</span>
                    </a>
                    <a href="Groups.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-6 pr-cate">
                        <div class="frame">
                            <img class="img-responsive" src="/Content/img/cat-pic.jpg" alt="ناخن ها">
                        </div>
                        <span>ناخن ها</span>
                    </a>
                    <a href="Groups.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-6 pr-cate">
                        <div class="frame">
                            <img class="img-responsive" src="/Content/img/cat-pic.jpg" alt="زیبایی">
                        </div>
                        <span>زیبایی</span>
                    </a>
                    <a href="Groups.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-6 pr-cate">
                        <div class="frame">
                            <img class="img-responsive" src="/Content/img/cat-pic.jpg" alt="مراقبت ناخن">
                        </div>
                        <span>مراقبت ناخن</span>
                    </a>


                </div>

                <div class="clearfix"></div>

                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 center-block wrapp-update" style="float:none;">
                    <div class="row big-title text-center">
                        <h2>با ما همیشه بروز باشید</h2>
                    </div>

                    <a href="#" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pr-update">
                        <div class="frame">
                            <img class="img-responsive" src="/Content/img/update2.png" alt="">
                        </div>
                        <span>طرح محدود</span>
                    </a>
                    <a href="#" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pr-update">
                        <div class="frame">
                            <img class="img-responsive" src="/Content/img/update1.jpg" alt="">
                        </div>
                        <span>درباره ما</span>
                    </a>

                </div>

            </div>


            <div class="footer">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-sm hidden-xs main-footer">

                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 center-block" style="float:none;">

                        <ul class="col-lg-2 col-md-2 col-sm-2 col-xs-0 fmenu">
                            <li class="fmenu-title"><a href="#">تازه ها</a></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class="col-lg-2 col-md-2 col-sm-2 col-xs-0 fmenu">
                            <li class="fmenu-title"><a href="#">محصولات</a></li>
                            <li><a href="#">چشم ها</a></li>
                            <li><a href="#">لب ها</a></li>
                            <li><a href="#">صورت</a></li>
                            <li><a href="#">مراقبت ناخن</a></li>
                            <li><a href="#">زیبایی</a></li>
                        </ul>
                        <ul class="col-lg-2 col-md-2 col-sm-2 col-xs-0 fmenu">
                            <li class="fmenu-title"><a href="#">تعداد محدود</a></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class="col-lg-2 col-md-2 col-sm-2 col-xs-0 fmenu">
                            <li class="fmenu-title"><a href="#">ویژه ها</a></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class="col-lg-2 col-md-2 col-sm-2 col-xs-0 fmenu">
                            <li class="fmenu-title"><a href="#">درباره ما</a></li>
                            <li>هدف اصلی ما</li>
                            <li>........</li>
                            <li>........</li>
                            <li>........</li>
                        </ul>
                        <ul class="col-lg-2 col-md-2 col-sm-2 col-xs-0 footer-menu-licence">
                            <li>
                                <a href="#" target="_blank" class="qualityLogo">
                                    <img src="/Content/img/wessling_en.png" alt="WESSLING - kontrollierte Qualität und Sicherheit">
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-footer">
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 center-block" style="float:none;">
                        <ul class="col-lg-2 col-md-2 col-sm-12 col-xs-12 site-copyright">
                            <li>
                                ©
                                نام سایت
                                2017
                            </li>
                        </ul>
                        <ul class="col-lg-3 col-md-3 col-sm-12 col-xs-12 footer-menu">
                            <li>
                                <a href="#">
                                    امضا
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    امنیت اطلاعات
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    تماس
                                </a>
                            </li>
                        </ul>
                        <ul class="col-lg-2 col-md-3 col-sm-12 col-xs-12 so-menu">
                            <li>
                                <a href="#">
                                    <i class="icon-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-facebook"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <!-- <script src="js/popper.min.js" type="text-javascript"></script>  -->
    <script src="/Content/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Content/js/swiper.min.js" type="text/javascript"></script>

</body>
</html>