@model IEnumerable<Dentplex.Data.Model.Product>

@if (Model.Any())
{
    <ul>

        @foreach (var item in Model)
        {
            <li class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="~/Images/ProductImages/MainImage/@item.ProductImage" class="img img-responsive" alt="@item.ProductTitle">
                    <span>@item.ProductTitle</span>
                </a>
            </li>
        }
    </ul>
}