@model Dentplex.Data.Model.ProductGroup

<div class="wrapp-slider">
    <div class="swiper-container s1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                @if (Model.ProductGroupImage != null)
                {
                    <a href="#">
                        <img class="img-responsive" src="~/Images/ProuctGroups/BannerImage/@Model.ProductGroupBanner" alt="@Model.ProductGroupTitle">
                    </a>
                }

                else
                {
                    <a href="#">
                        <img class="img-responsive" src="~/Content/theme/img/Product_header.jpg" />
                    </a>
                }

            </div>
        </div>
    </div>
</div>
