@model Dentplex.Data.Model.ProductGroup

<div class="wrapp-slider">
    <div class="swiper-container s1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#">
                    <img class="img-responsive" src="~/Images/ProuctGroups/BannerImage/@Model.ProductGroupBanner" alt="p2 cosmetics Logo">
                </a>
            </div>
        </div>
    </div>
</div>
