@model IEnumerable<Dentplex.Data.Model.Product>

@if (Model.Any())
{
    <script type="text/javascript">
        $(document).ready(function () {
            var swiper = new Swiper('.swiper-container3', {
                effect: 'coverflow',
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: 5,
                spaceBetween: 25,
                loopAdditionalSlides: 1,
                loop: true,
                coverflowEffect: {
                    rotate: 25,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows: true,
                },
                pagination: {
                    el: '.swiper-pagination',
                },

                breakpoints: {
                    1024: {
                        slidesPerView: 5,
                        spaceBetween: 50
                    },
                    768: {
                        slidesPerView: 3,
                        spaceBetween: 10
                    },
                    640: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    320: {
                        slidesPerView: 1,
                        spaceBetween: 10
                    }
                },

            });
        })
    </script>

    <div class="container">
        <div class="row big-title text-center">
            <h2>انواع محصولات ما</h2>
        </div>
        <div class="wrapp-our-pr">
            <div class="swiper-container3">
                <div class="swiper-wrapper">
                    @foreach (var item in Model)
                    {
                        <a href="/ShowProduct/@item.ProductID" class="swiper-slide">
                            <img src="~/Images/ProductImages/MainImage/@item.ProductImage" alt="" class="img-responsive">
                            <span>@item.ProductTitle</span>
                        </a>
                    }
                </div>
                <div class="swiper-pagination hide"></div>
            </div>
        </div>
        
        
        <div class="clearfix"></div>
    </div>
}

