@model IEnumerable<Dentplex.Data.Model.SliderItem>

@if (Model.Any())
{
    <div class="container">
        <div class="row big-title text-center">
            <h2>انواع محصولات ما</h2>
        </div>
        <div class="wrapp-our-pr">
            <div class="swiper-container3">
                <div class="swiper-wrapper">
                    @foreach (var item in Model)
                    {
                        <a href="@item.SlideItemLink" class="swiper-slide">
                            <img src="~/Images/SliderItemImages/@item.SlideItemImage" alt="HERO LASH MASCARA" class="img-responsive">
                            <span>@item.SlideItemTitle</span>
                        </a>
                    }
                </div>
                <div class="swiper-pagination hide"></div>
            </div>
        </div>
    </div>
}

