@model IEnumerable<Dentplex.Data.Model.SliderItem>
@if (Model.Any())
{
    <div class="wrapp-slider">
        <div class="slider">
            @foreach (var item in Model)
                {
                <ul class="slider-main">
                    <li>
                        <a href="@item.SlideItemLink"><img class="img-responsive" src="~/Images/SliderItemImages/@item.SlideItemImage" alt="p2 cosmetics Logo"></a>
                    </li>
                </ul>
            }

        </div>
    </div>
}

